@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --text-dark: #000;
    --bg-default: #fff;
    --bg-light: #e5e5e5;
    --half-white: #f2f2f2;
    --bg-card: #fff;
    --border: #b2b2b2;
    --alert: #fef7ee;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-dark;
  }
}
.high-shadow {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cccc;
  height: 40px;
  border-radius: 12px;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.img::-webkit-scrollbar {
  width: 7px;
  margin-top: 100px;
}

.img::-webkit-scrollbar-track {
  background-color: white;
  margin-top: 105px;
}

.img::-webkit-scrollbar-thumb {
  background-color: #999;
  height: 40px;
  border-radius: 4px;
}
.img {
  height: 100vh;
  overflow-y: auto;
  padding-top: 116px;
}
.react-colorful__pointer {
  height: 16px !important;
  width: 16px !important;
}
.chrome-picker {
  box-shadow: none !important;
}
#rc-editable-input-2 {
  padding: 16px 8px;
  font-size: 14px !important;
  font-weight: 500;
}
.flexbox-fix {
  gap: 6px;
}
.optionCardShadow {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);
}
.support-item {
  background-size: 990px auto;
  border-radius: 3px;
  display: inline-block;
  height: 26px;
  margin-left: 12px;
  opacity: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 68px;
}
.slack {
  background-position: 0 0;
}
.trello {
  background-position: -68px 0 !important;
}
.asana {
  background-position: -136px 0 !important;
}
.github {
  background-position: -272px 0 !important;
}
.jira {
  background-position: -476px 0 !important;
}
.gmail {
  background-position: -68px 0 !important;
}
.icon:hover {
  background: #ccc;
}
